body {
  font: normal normal 13px/16px "Ubuntu", sans-serif;
  background: #4AC29A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);
  background: linear-gradient(to right, #BDFFF3, #4AC29A); 
  margin: 0;
  }

  h1{
    font-weight: 600;
    font-size: 60px;
    color:#242629;
    letter-spacing: 0.1rem;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  h2 {
    font-weight: 300;
    font-size: 17px;
    color:#242629;
    text-align: center;
    margin-bottom: 20px;
  }

  hr {
    border-bottom: 0.5px #242629;
    width: 50px;
    margin: 20px auto;

  }
  
  #currentDate {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    justify-content: center;
    color:#242629;
  }

  .container{
  padding: 20px;
  width: 280px;
  margin: 0 auto;
  margin-top: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 2px 2px #242629;
  }
  
  form {
  display: inline-block;
  }
  
  input{
  padding: 4px 15px 4px 5px;
  }
  
  #button{
  display: inline-block;
  background-color: #4ac29a;
  color:#ffffff;
  border-radius: 5px;
  text-align:center;
  margin-top:2px;
  padding: 5px 15px;
  }
  
  #button:hover{
  cursor: pointer;
  opacity: .8;}
  
  ol {padding-left: 20px;}
  
  ol li {padding: 5px; color:#242629;}
  
  ol li:nth-child(even){background: #BDFFF3;}
  
  .strike{
    text-decoration: line-through;}
  
  li:hover{
    cursor: pointer;
   }
  
  .delete {
    display: none;
  }
  
  li > crossOutButton {
    background: none;
    border: none;
    float: right;
    color: #242629;
    font-weight: 800;
  }